<footer class="footer">
  <div class="footer-content">
    <div class="pta-logo">
      <img src="/images/logo.png" alt="PTA Logo">
    </div>
    <div class="contact-info">
      <p>Philippine Taekwondo Central Headquarters</p>
      <p>Rizal Memorial Coliseum, Manila, Philippines</p>
      <p><i class="fas fa-phone"></i> <a href="tel:+639773845879">0977 384 5879</a></p>
      <p><i class="fas fa-envelope"></i> <a href="mailto:pthtkd@gmail.com">pthtkd@gmail.com</a></p>
    </div>
    <div class="social-media">
      <p>Follow us</p>
      <div class="icons">
        <a href="https://www.facebook.com"><img src="/images/homepage/fb.png" alt="Facebook"></a>
        <a href="https://www.instagram.com"><img src="/images/homepage/ig.png" alt="Instagram"></a>
        <a href="https://www.twitch.com"><img src="/images/homepage/twitch.webp" alt="Twitch"></a>
      </div>
    </div>
  </div>
  <div class="copyright">
    © 2023 Philippine Taekwondo Association. All rights reserved.
  </div>
</footer> 