<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>PTA | Membership</title>
  <link rel="icon" type="image/x-icon" href="../images/favicon.ico" />
  <link rel="stylesheet" type="text/css" href="../stylesheets/membership.css" />
  <link rel="stylesheet" type="text/css" href="../stylesheets/navbar.css" />
  <link rel="stylesheet" type="text/css" href="../stylesheets/footer.css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" />
</head>

<body class="container">
  <div class="header">
    {{> navbar}}
  </div>

  <div class="content-container">
    <div class="leftside">
      <div class="forumtitle">
        <h1 class="forumname"></h1>
        <h3 class="forumdesc">Membership Registration Center</h3>
      </div>
    </div>

    <div class="rightside">
      <div class="registration">
        <ul>
          <li class="available"><a href="membership-status"><i class="fas fa-tasks"></i> Registration Status <i class="fas fa-arrow-right"></i></a></li>
          <li><a href="membership-ncc"><i class="fas fa-id-card"></i> Apply for National Correspondence Card (NCC) <i class="fas fa-arrow-right"></i></a></li>
          <li><a href="membership-instructor"><i class="fas fa-chalkboard-teacher"></i> Apply for Instructor ID <i class="fas fa-arrow-right"></i></a></li>
          <li><a href="membership-club"><i class="fas fa-users"></i> Register a Club <i class="fas fa-arrow-right"></i></a></li>
        </ul>
      </div>
    </div>
  </div>
  
  {{> footer}}

  <!-- Scripts -->
  <script src="/scripts/navbar.js"></script>
  <script src="/scripts/footer.js"></script>
</body>

</html>