<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>PTA | Membership</title>
  <link rel="icon" type="image/x-icon" href="../images/favicon.ico" />
  <link rel="stylesheet" type="text/css" href="../stylesheets/membership.css" />
  <link rel="stylesheet" type="text/css" href="../stylesheets/navbar.css" />
  <link rel="stylesheet" type="text/css" href="../stylesheets/footer.css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" />
</head>

<body class="container">
  <div class="header">
    {{> navbar}}
  </div>

  <div class="content-container">
    <div class="leftside">
      <div class="forumtitle">
        <h1 class="forumname"></h1>
        <h3 class="forumdesc">Membership Registration Center</h3>
      </div>
    </div>

    <div class="rightside">
      <div class="registration">
        <ul>
          <li class="available"><a href="membership-status">Registration Status &rarr;</a></li>
          {{#if user.club}}
          <li class="available"><a href="membership-ncc">Apply for NCC ID &rarr;</a></li>
          {{else}}
          <li class="grayedout"><a>Apply for NCC ID &rarr;</a></li>
          {{/if}}
          <li class="available"><a href="membership-instructor">Apply for Instructor's License &rarr;</a></li>
          {{#if user.instructorverified}}
          <li class="available"><a href="membership-club">Register Club &rarr;</a></li>
          {{else}}
          <li class="grayedout"><a>Register Club</a></li>
          {{/if}}
        </ul>
      </div>
    </div>
  </div>
  
  {{> footer}}

  <!-- Scripts -->
  <script src="/scripts/navbar.js"></script>
  <script src="/scripts/footer.js"></script>
</body>

</html>