.events-create-container {
  background-color: #333;
  padding: 25px;
  border-radius: 12px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.6);
  margin: auto;
  width: 50%;
  color: #fff;
  margin-top: 80px;
  font-family: 'Arial', sans-serif;
}

.form-group {
  margin-bottom: 20px;
}

.form-group label {
  display: block;
  font-weight: bold;
  margin-bottom: 8px;
  color: #ddd;
}

.form-group input,
.form-group select,
.event-form textarea {
  width: 97%;
  padding: 8px;
  border: 1px solid #666;
  border-radius: 6px;
  background-color: #222;
  color: #fff;
  font-size: 16px;
}

.form-group input:focus,
.form-group select:focus,
.event-form textarea:focus {
  outline: none;
  border-color: #4CAF50;
  box-shadow: 0 0 5px rgba(76, 175, 80, 0.7);
}

.form-group select{
  width: 100%;
  margin-bottom: 10px;
}
/* File Input Fix */
.eventpic {
  height: 50px;
  padding: 8px;
  background-color: #222;
  border-radius: 12px;
  display: flex;
  align-items: left;
  justify-content: left;
  color: #bbb;
  text-align: left;
  margin-bottom: 20px;
}

/* Ensure file input is properly styled */
.eventpic input[type="file"] {
  display: block;
  width: auto;
  margin: auto;
  align-items: left;
}

/* Judge selection spacing */
.judge-selection {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.judge-selection select {
  width: 100%;
}

.judge-selection button {
  margin-top: 10px;
}

/* Buttons */
button {
  padding: 6px 10px;
  border: none;
  border-radius: 6px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease;
  background-color: #dadcda; 
  color: black;
  margin-top: 2px;
}

button[type="submit"] {
  background-color: #3d8b40; 
  color: white;
  margin-left: 5px;
}

button[type="submit"]:hover {
  background-color: #4CAF50;
}

.cancel {
  background-color: #c9302c;
  color: white;
}

.cancel:hover {
  background-color: #d9534f;
}

@media screen and (max-width: 768px) {
  .events-create-container {
    width: 90%;
    padding: 15px;
  }
  
  button {
    width: 100%;
  }
}
